/.github          export-ignore
/examples         export-ignore
/tests            export-ignore
/index.php        export-ignore
/phpunit.xml      export-ignore
/composer.lock    export-ignore
/docs             export-ignore
/docs-root        export-ignore