---
import BaseHeader from "../components/baseHeader.astro";
import Header from "../components/Header.astro";

---

<BaseHeader  title="Gena documentation template"/>
<style>
    .hero {
      background-color: #f9fafb;
      @apply dark:bg-gray-800;
    }

    .hero h1 {
      font-size: 4rem;
      font-weight: bold;
      color: #1a202c;
    }

    .hero p {
      font-size: 1.5rem;
      color: #4a5568;
    }

    .btn {
      display: inline-block;
      padding: 1rem 2rem;
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      border-radius: 0.5rem;
      transition: background-color 0.3s ease;
    }

    .btn:hover {
      @apply bg-purple-500;
    }
    .side{
      background-color: #f9fafb;
      height: calc(100vh - 50px);
    }

    .image {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: auto;

    }
  </style>


<Header/>
  <div class="flex flex-col-reverse md:flex-row">
    <div class="side w-full  md:w-1/2 flex justify-center items-center dark:bg-gray-800">
     <img class="image" src="/code.svg" alt="">
    </div>
    <div class="hero w-full md:w-1/2 flex items-center justify-center px-4 py-8 md:px-8 md:py-16">
      <div class="text-center">
        <h1 class="mb-4 dark:text-slate-200">PHP plugin System Docs </h1>
        <p class="mb-8 dark:text-slate-500"></p>
        <a href="./docs/introduction" class="btn bg-purple-300">Get Started</a>
      </div>

      
    </div>
  </div>