---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import "../../style/global.css";
import Footer from "../../components/footer.astro";
import { docsDir } from "../../content";
import BreadNav from "../../components/breadNav.astro";

export async function getStaticPaths() {
  const posts = await getCollection(docsDir);
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<Layout {...post.data}>
  <main class="content">
    <BreadNav/>
    <Content />
    <Footer/>
  </main>
</Layout>

<style>

</style>
