---
interface Props {
  title: string;
}

import { base } from '../content';
const { title } = Astro.props;

---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg" href={(base ?? '') + "/favicon.svg"} />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="title" content="Gena - a documentation template" />
  <meta name="description" content="a  template to quickly get up and writing documentation." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://bethropolis.github.io/gena/" />
  <meta property="og:title" content="Gena- a documentation template" />
  <meta property="og:description" content="a  template to quickly get up and writing documentation." />
  <meta property="og:image" content="https://bethropolis.github.io/gena/cover.svg" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://bethropolis.github.io/gena/" />
  <meta property="twitter:title" content="Gena - a documentation template" />
  <meta property="twitter:description" content=" a lightweight, flexible, hook and event based plugin manager and system." />
  <meta property="twitter:image" content="https://bethropolis.github.io/plugin-system/cover.png" />
  <link rel="sitemap" href={(base ?? '') + "/sitemap-index.xml"} />
</head>
