---
import { sidebarStructure, base } from "../content";
---

<main class="my-3 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {
    sidebarStructure.map((section) =>
      section.children.map((child) => (
        <a href={base + "/" + child.path}>
          <div class="bg-white rounded-xl select-none cursor-pointer shadow-lg p-3 w-11/12 md:w-64 my-2 mx-auto
           md:m-2 dark:bg-gray-700 dark:hover:bg-gray-600 hover:bg-gray-100">
            <h2 class="text-lg font-medium mb-4">{child.label}</h2>
            <p class="text-gray-500">{section.label}</p>
          </div>
        </a>
      ))
    )
  }
</main>
