---
import { sidebarStructure } from "../content";
import { base } from "../content";

const { slug } = Astro.params;
---

<div class="sidebar p-8 w-full h-full overflow-y-auto">
  <ul class="space-y-2">
    {
      sidebarStructure.map((item) => (
        <details open>
            <summary class="mb-3 text-sm font-semibold text-slate-900 dark:text-slate-200">
              {item.label}
            </summary>
          {item.children && (
            <ul class="space-y-1">
              {item.children.map((child) => (
                <li class={child.path.split("/").pop() === slug ? "active" : ""}>
                  <a
                    href={(base ?? "") + "/" + child.path}
                    class="block py-1 pl-4 text-sm hover:text-purple-500 border-l-2 border-gray-200 dark:border-gray-600
                     hover:!border-purple-400"
                  >
                    {child.label}
                  </a>
                </li>
              ))}
            </ul>
          )}
        </details>
      ))
    }
  </ul>
</div>

<style>
  .active a {
    @apply text-purple-500 border-l-2 !border-purple-500;
  }
</style>
